{#<div class="offcanvas-overlay"></div>
                 <div class="offcanvas-menu">
                    <a href="#" class="close-offcanvas"><span class="fa fa-remove"></span></a>
                    <div class="offcanvas-inner">
                        <div class="sp-module _menu">
                            <div class="sp-module-content">
                                <ul class="menu">
                                    <li class="item-105 current active"><a href="index.htm">Главная</a></li>
                                    <li class="item-108 menu-divider menu-deeper menu-parent"><span
                                            class="menu-separator ">О нас<span class="menu-toggler"></span></span>
                                        <ul class="menu-child">
                                            <li class="item-109"><a href="o-nas/o-meditsinskoj-organizatsii.html">О
                                                    медицинской организации</a></li>
                                            <li class="item-113"><a href="o-nas/litsenzii-i-sertifikaty.html">Лицензии и
                                                    сертификаты</a></li>
                                            <li class="item-110"><a href="o-nas/administratsiya.html">Администрация</a>
                                            </li>
                                            <li class="item-111"><a href="o-nas/uslugi.html">Услуги</a></li>
                                            <li class="item-131"><a href="o-nas/otzyvy-o-nas.html">Отзывы</a></li>
                                            <li class="item-128"><a href="o-nas/novosti.html">Новости</a></li>
                                            <li class="item-120"><a href="o-nas/smi-o-nas.html">СМИ о нас</a></li>
                                            <li class="item-114"><a href="o-nas/vakansii.html">Вакансии</a></li>
                                            <li class="item-117"><a
                                                    href="my_custom/phocadownload/userupload/kodeks_etiki_ru.pdf"
                                                    target="_blank" rel="noopener noreferrer">Этический кодекс
                                                    медицинского работника</a></li>
                                            <li class="item-118"><a
                                                    href="o-nas/protivodejstvie-korruptsii.html">Противодействие
                                                    коррупции</a></li>
                                            <li class="item-119"><a
                                                    href="o-nas/normativno-pravovye-akty.html">Нормативно-правовые
                                                    акты</a></li>
                                            <li class="item-122"><a
                                                    href="o-nas/korporativnoe-upravlenie.html">Корпоративное
                                                    управление</a></li>
                                            <li class="item-123"><a href="o-nas/finansovaya-otchetnost.html">Финансовая
                                                    отчетность</a></li>
                                            <li class="item-129"><a
                                                    href="o-nas/gosudarstvennye-zakupki.html">Государственные
                                                    закупки</a></li>
                                        </ul>
                                    </li>
                                    <li class="item-126"><a href="tdeleniya.html">Отделения</a></li>
                                    <li class="item-221 menu-divider menu-deeper menu-parent"><span
                                            class="menu-separator ">Пациентам<span class="menu-toggler"></span></span>
                                        <ul class="menu-child">
                                            <li class="item-223"><a href="p-tsient-m/g-bmp.html">ГОБМП</a></li>
                                            <li class="item-224"><a
                                                    href="p-tsient-m/prava-i-obyazannosti-lits-v-oblasti-zdravookhraneniya.html">Права
                                                    и обязанности лиц в области здравоохранения</a></li>
                                            <li class="item-232"><a
                                                    href="p-tsient-m/otdel-vnutrennego-audita-i-sluzhby-podderzhki-patsientov.html">Отдел
                                                    СПП и внутренней экспертизы</a></li>
                                            <li class="item-225"><a
                                                    href="p-tsient-m/poleznaya-informatsiya.html">Полезная
                                                    информация</a></li>
                                            <li class="item-226"><a
                                                    href="p-tsient-m/prejskurant-tsen-po-platnym-uslugam.html">Прейскурант
                                                    цен по платным услугам</a></li>
                                            <li class="item-227"><a href="p-tsient-m/blog-direktora.html">Блог
                                                    директора</a></li>
                                            <li class="item-228"><a
                                                    href="p-tsient-m/chasto-zadavaemye-voprosy.html">Часто задаваемые
                                                    вопросы</a></li>
                                            <li class="item-229"><a
                                                    href="p-tsient-m/poryadok-okazaniya-statsionarnoj-pomoshchi.html">Порядок
                                                    оказания стационарной помощи</a></li>
                                            <li class="item-230"><a
                                                    href="p-tsient-m/obyazatelnoe-sotsialnoe-meditsinskoe-strakhovanie.html">Обязательное
                                                    социальное медицинское страхование</a></li>
                                            <li class="item-309"><a
                                                    href="http://88.204.172.158:8081/AkLisWeb/">Результаты исследований
                                                    онлайн</a></li>
                                            <li class="item-315"><a href="p-tsient-m/budushchim-mamam.html">Будущим
                                                    мамам</a></li>
                                            <li class="item-328"><a
                                                    href="p-tsient-m/perechen-gosudarstvennykh-uslug-v-oblasti-zdravookhraneniya.html">Перечень
                                                    государственных услуг в области здравоохранения</a></li>
                                            <li class="item-222"><a
                                                    href="p-tsient-m/gosudarstvennye-simvoly-rk.html">Государственные
                                                    символы РК</a></li>
                                        </ul>
                                    </li>
                                    <li class="item-132"><a href="kontakty.html">Контакты</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> #}