==
<?php
function onStart()
{
    $this['LogoURLFooter'] = Backend::url('/cms/themeoptions/update/SKK');
    $this['ContactURL'] = Backend::url('/cms/themeoptions/update/SKK#primarytab-contact');
}
?>
==
<footer id="sp-footer">
    <div class="container">
        <div class="container-inner">
            <div class="row">
                <div id="sp-footer1" class="col-lg-2 ">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <div class="sp-module-content">
                                <div class="custom">
    {% if this.theme.logo_button|length > 0 %}
                                    <p><a href="{{ 'home'|page }}"><img src="{{ this.theme.logo_button|media }}" alt=""></a></p>
    {% else %}
                                    <p><a href="{{ LogoURLFooter }}">Укжите свой лого в Backend</a></p>
    {% endif %}
                                </div>
                            </div>
                        </div><span class="sp-copyright">© {{ "now" | date("Y") }}</span>
                    </div>
                </div>
                <div id="sp-footer2" class="col-lg-6 ">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <div class="sp-module-content">
                                <div class="custom">
                                    <h4 style="text-align: left; margin-bottom: 30px;">
                                        {{'Важные ссылки'|_}}
                                    </h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <a style="display: block;" href="https://www.gov.kz/memleket/entities/dsm?lang=ru">
                                                <img src="{{'assets/images/banners/gossylki/ru/01.png'|theme }}" alt="">
                                            </a> 
                                            <a style="margin-top: 15px; display: block;" href="http://www.akorda.kz/ru">
                                                <img src="{{'assets/images/banners/gossylki/ru/011.png'|theme }}" alt="">
                                            </a> 
                                            <a style="margin-top: 15px; display: block;" href="https://uoz.astana.kz/">
                                                <img src="{{'assets/images/banners/gossylki/ru/12.png'|theme }}" alt="">
                                            </a>
                                        </div>
                                        <div class="col-lg-6">
                                            <a style="display: block;" href="http://zozh.kz/">
                                                <img src="{{'assets/images/banners/gossylki/ru/03.png'|theme }}" alt="">
                                            </a> 
                                            <a style="margin-top: 15px; display: block;" href="http://www.safekaznet.kz/report-2">
                                                <img src="{{'assets/images/banners/gossylki/ru/04.png'|theme }}" alt="">
                                            </a> 
                                            <a style="margin-top: 15px; display: block;" href="https://fms.kz/">
                                                <img src="{{'assets/images/banners/gossylki/ru/05.png'|theme }}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sp-footer3" class="col-lg-2 ">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <div class="sp-module-content">
                                <div class="custom">
                                    <h3 style="margin-bottom: 30px;">{{'Контакты'|_}}</h3>
                                    <div class="textwidget">
                                        <p>
                                            {{ this.theme.city }},
                                            <br>
                                            {{ this.theme.address }}
                                        </p>
                                        <p style="font-size: 20px;">{{ this.theme.contact_number }}</p>
                                        <p style="font-size: 20px;">{{ this.theme.contact_number2 }}</p>
                                        <h5>
                                            <a style="font-size: 14px;" href="mailto:{{ this.theme.contact_mail }}">{{ this.theme.contact_mail }}</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sp-footer4" class="col-lg-2 ">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <div class="sp-module-content">
                                <div class="custom">
                                    <h3 style="margin-bottom: 30px;">{{'Мы в социальных сетях:'|_}}</h3>
                                    <ul class="social-icons">
                                        <li class="social-icon-facebook">
                                            <a href="{{ this.theme.social_facebook }}" target="_blank" rel="noopener noreferrer">
                                                <span class="fa fa-facebook" style="color: #ff4345;">.</span>
                                            </a>
                                        </li>
{#                                         <li>
                                            <a href="{{ this.theme.social_youtube }}" target="_blank" rel="noopener noreferrer">
                                                <span class="fa fa-youtube" style="color: #ff4345;">.</span>
                                            </a>
                                        </li> #}
                                        <li class="social-icon-instagram">
                                            <a href="{{ this.theme.social_instagram }}" target="_blank" rel="noopener noreferrer">
                                                <span class="fa fa-instagram" style="color: #ff4345;">.</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
