<aside id="sp-right" class="col-lg-3 ">
    <div class="sp-column ">
        <div class="sp-module call-us">
            <div class="sp-module-content">
                <div class="customcall-us">
                    <div id="webique_87a2891902" class="webique_banner">
                        <div class="webique_banner_img">
                            <figure class="webique_img_wrap"><a
                                    class="webique_img_link"
                                    href="tel:(832)%20123-4567"><img
                                        class="full_width attachment-full"
                                        src="{{'assets/images/icons/image-1.jpg'|theme }}"
                                        sizes="(max-width: 267px) 100vw, 267px"
                                        srcset="{{'assets/images/icons/image-1.jpg'|theme }} 267w, {{'assets/images/icons/image-1.jpg'|theme }} 242w"
                                        alt="" width="267" height="331"></a>
                            </figure>
                        </div>
                        <div class="webique_banner_content_wrap">
                            <h3 class="webique_banner_title" style="font-size: 20px;"><a title="" href="tel:{{ this.theme.contact_phone }}">{{ this.theme.contact_title }}</a></h3>
                            <div class="webique_banner_info_items">
                                <ul>
                                    <li><a title="" href="tel:{{ this.theme.contact_phone }}"><span class="webique_banner_info_item_icon fa fa-phone"></span><span style="font-size: 20px;">{{ this.theme.contact_number }}</span></a></li>
                                    <li><a title="" href="tel:{{ this.theme.contact_phone2 }}"><span class="webique_banner_info_item_icon fa fa-phone"></span><span style="font-size: 20px;">{{ this.theme.contact_number2 }}</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>