<div id="sp-user2" class="col-lg-9 ">
    <div class="sp-column ">
        <div class="sp-module ">
            <div class="sp-module-content">
                <div class="custom">
                    <div class="vc_row wpb_row vc_inner vc_row-fluid row">
                        {% if (this.theme.sitebarContant|length > 0 )%}
                        {% for item in this.theme.sitebarContant %}
                        <div class="wpb_column vc_column_container col-lg-3 vc_hidden-md">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="webique_featured_block_shortcode wpb_content_element vc_clearfix">
                                        <div id="webique_6b8897255e" class="webique_featured_block webique_alignment_center webique_icon_position_top_center">
                                            <div class="webique_featured_block_icon_wrap">
                                                <figure class="webique_featured_block_icon">
                                                    <img class="full_width" title="{{ item.title }}" src="{{ item.png|media }}" alt="{{ item.title }}" width="48" height="48">
                                                </figure>
                                            </div>
                                            <div class="webique_featured_block_out">
                                                <div class="webique_featured_block_in">
                                                    <div class="webique_featured_block_content">
                                                        <div class="webique_featured_block_header">
                                                            <div class="webique_featured_block_header_in">
                                                                <h4 class="webique_featured_block_title">
                                                                    {{ item.title }}
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="webique_featured_block_description">
                                                            <p>{{ item.description }}</p>
                                                        </div>
                                                        <div class="webique_featured_block_button">
                                                            <div class="vc_btn3-container vc_btn3-inline">
                                                                <a class="webique_vc_btn webique_clean_btn webique_clean_btn_webique_but_14992e8e25" title="" href="{{ item.url }}">
                                                                    <span class="webique_vc_btn_text">{{'Подробнее'|_}}</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="wpb_column vc_column_container col-lg-3 vc_hidden-md">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="webique_featured_block_shortcode wpb_content_element vc_clearfix">
                                        <div id="webique_6b8897255e" class="webique_featured_block webique_alignment_center webique_icon_position_top_center">
                                            <div class="webique_featured_block_icon_wrap">
                                                <figure class="webique_featured_block_icon">
                                                    <img class="full_width" title="icon_1" src="{{ 'assets/images/icons/icon_1.png'|theme }}" alt="icon_1" width="48" height="48">
                                                </figure>
                                            </div>
                                            <div class="webique_featured_block_out">
                                                <div class="webique_featured_block_in">
                                                    <div class="webique_featured_block_content">
                                                        <div class="webique_featured_block_header">
                                                            <div class="webique_featured_block_header_in">
                                                                <h4 class="webique_featured_block_title">
                                                                    Check-Up
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="webique_featured_block_description">
                                                            <p>{{'Программа комплексного медицинского обследования'|_}}</p>
                                                        </div>
                                                        <div class="webique_featured_block_button">
                                                            <div class="vc_btn3-container vc_btn3-inline">
                                                                <a class="webique_vc_btn webique_clean_btn webique_clean_btn_webique_but_14992e8e25" title="" href="{{ 'main/check-up'|page }}">
                                                                    <span class="webique_vc_btn_text">{{'Подробнее'|_}}</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container col-lg-3 vc_hidden-md">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="webique_featured_block_shortcode wpb_content_element vc_clearfix">
                                        <div id="webique_ecbd2721c1"
                                            class="webique_featured_block webique_alignment_center webique_icon_position_top_center">
                                            <div class="webique_featured_block_icon_wrap">
                                                <figure class="webique_featured_block_icon">
                                                    <img class="full_width" title="icon_2" src="{{ 'assets/images/icons/icon_2.png'|theme }}" alt="icon_2" width="49" height="49">
                                                </figure>
                                            </div>
                                            <div class="webique_featured_block_out">
                                                <div class="webique_featured_block_in">
                                                    <div class="webique_featured_block_content">
                                                        <div class="webique_featured_block_header">
                                                            <div class="webique_featured_block_header_in">
                                                                <h4 class="webique_featured_block_title">
                                                                    {{'Лечебно-диагностический центр'|_}}
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="webique_featured_block_description">
                                                            <p>{{'Консультации специалистов, обследование, дневной стационар'|_}}</p>
                                                        </div>
                                                        <div class="webique_featured_block_button">
                                                            <div class="vc_btn3-container vc_btn3-inline">
                                                                <a class="webique_vc_btn webique_clean_btn webique_clean_btn_webique_but_98826e526c" title="" href="{{ 'main/LDC'|page }}">
                                                                    <span class="webique_vc_btn_text">{{'Подробнее'|_}}</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container col-lg-3 vc_hidden-md">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="webique_featured_block_shortcode wpb_content_element vc_clearfix">
                                        <div id="webique_cda10b4748" class="webique_featured_block webique_alignment_center webique_icon_position_top_center">
                                            <div class="webique_featured_block_icon_wrap">
                                                <figure class="webique_featured_block_icon">
                                                    <img class="full_width" title="icon_3" src="{{ 'assets/images/icons/icon_3.png'|theme }}" alt="icon_3" width="49" height="48">
                                                </figure>
                                            </div>
                                            <div class="webique_featured_block_out">
                                                <div class="webique_featured_block_in">
                                                    <div class="webique_featured_block_content">
                                                        <div class="webique_featured_block_header">
                                                            <div class="webique_featured_block_header_in">
                                                                <h4 class="webique_featured_block_title">
                                                                    ГОБМП
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="webique_featured_block_description">
                                                            <p>{{'Гарантированный объем бесплатной медицинской помощи'|_}}</p>
                                                        </div>
                                                        <div class="webique_featured_block_button">
                                                            <div class="vc_btn3-container vc_btn3-inline">
                                                                <span class="webique_vc_btn_text">
                                                                    <a class="webique_vc_btn webique_clean_btn webique_clean_btn_webique_but_9aa7f57f1d" title="" href="{{ 'main/gobmp'|page }}">
                                                                        {{'Подробнее'|_}}
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container col-lg-3 vc_hidden-md">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="webique_featured_block_shortcode wpb_content_element vc_clearfix">
                                        <div id="webique_cda10b4748" class="webique_featured_block webique_alignment_center webique_icon_position_top_center">
                                            <div class="webique_featured_block_icon_wrap">
                                                <figure class="webique_featured_block_icon">
                                                    <img class="full_width" title="icon_3" src="{{ 'assets/images/icons/icon_6.png'|theme }}" alt="icon_3" width="49" height="48">
                                                </figure>
                                            </div>
                                            <div class="webique_featured_block_out">
                                                <div class="webique_featured_block_in">
                                                    <div class="webique_featured_block_content">
                                                        <div class="webique_featured_block_header">
                                                            <div class="webique_featured_block_header_in">
                                                                <h4 class="webique_featured_block_title">
                                                                    {{'ОСМС'|_}}
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="webique_featured_block_description">
                                                            <p>{{'Обязательное социальное медицинское страхование'|_}}</p>
                                                        </div>
                                                        <div class="webique_featured_block_button">
                                                            <div class="vc_btn3-container vc_btn3-inline">
                                                                <span class="webique_vc_btn_text">
                                                                    <a class="webique_vc_btn webique_clean_btn webique_clean_btn_webique_but_9aa7f57f1d" title="" href="{{ 'main/osms'|page }}">{{'Подробнее'|_}}</a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>