<div class="sp-module ">
    <div class="sp-module-content">
        <div class="custom">
            <p><a
                    href="https://www.gov.kz/memleket/entities/astana/activities/22571?lang=ru&parentId=22570"><img
                        src="{{'assets/images/banners/banner_vibory_ru.jpeg'|theme }} "
                        alt="" width="100%"></a></p>
            <p><img src="{{'assets/images/banners/call-center-ru__2022.jpg'|theme }} "
                    alt="" width="100%"></p>
        </div>
    </div>
</div>