<div class="sp-module ">
    <div class="sp-module-content">
        <div style="border: 0px !important;">
            <div id="djslider-loader109"
                class="djslider-loader djslider-loader-default"
                data-animation='{"auto":"1","looponce":"1","transition":"easeInOutExpo","css3transition":"cubic-bezier(1.000, 0.000, 0.000, 1.000)","duration":400,"delay":3400}'
                data-djslider='{"id":"109","slider_type":"0","slide_size":250,"visible_slides":"4","direction":"left","show_buttons":"0","show_arrows":"1","preload":"800","css3":"1"}'
                tabindex="0">
                <div id="djslider109" class="djslider djslider-default"
                    style="height: 160px; width: 990px;">
                    <div id="slider-container109"
                        class="slider-container">
                        <ul id="slider109" class="djslider-in">
                            <li
                                style="margin: 0 10px 0px 0 !important; height: 160px; width: 240px;">
                                <a href="glavnaya/zapisatsya-na-priem.html"
                                    target="_blank">
                                    <img class="dj-image"
                                        src="{{'assets/images/banners/ru/spar_pl_ru.jpg'|theme }}"
                                        alt="1"
                                        style="width: 100%; height: auto;">
                                </a>
                            </li>
                            <li
                                style="margin: 0 10px 0px 0 !important; height: 160px; width: 240px;">
                                <a href="glavnaya/zapisatsya-na-priem.html"
                                    target="_self">
                                    <img class="dj-image"
                                        src="{{'assets/images/banners/ru/spar_napr_ru.jpg'|theme }}"
                                        alt="2"
                                        style="width: 100%; height: auto;">
                                </a>
                            </li>
                            <li
                                style="margin: 0 10px 0px 0 !important; height: 160px; width: 240px;">
                                <a href="p-tsient-m/otdel-vnutrennego-audita-i-sluzhby-podderzhki-patsientov.html"
                                    target="_self">
                                    <img class="dj-image"
                                        src="{{'assets/images/banners/ru/sl_pod_ru.jpg'|theme }}"
                                        alt="3"
                                        style="width: 100%; height: auto;">
                                </a>
                            </li>
                            <li
                                style="margin: 0 10px 0px 0 !important; height: 160px; width: 240px;">
                                <a href="https://egov.kz/cms/ru/services/health_care/494pass_mz"
                                    target="_blank">
                                    <img class="dj-image"
                                        src="{{'assets/images/banners/ru/poisk_pol_ru.jpg'|theme }}"
                                        alt="4"
                                        style="width: 100%; height: auto;">
                                </a>
                            </li>
                            <li
                                style="margin: 0 10px 0px 0 !important; height: 160px; width: 240px;">
                                <a href="glavnaya/pravila-obrashcheniya-grazhdan-v-sluzhbu-skoroj-meditsinskoj-pomoshchi.html"
                                    target="_blank">
                                    <img class="dj-image"
                                        src="{{'assets/images/banners/ru/pr_obr_skor_ru.jpg'|theme }}"
                                        alt="5"
                                        style="width: 100%; height: auto;">
                                </a>
                            </li>
                            <li
                                style="margin: 0 10px 0px 0 !important; height: 160px; width: 240px;">
                                <a href="p-tsient-m/obyazatelnoe-sotsialnoe-meditsinskoe-strakhovanie.html"
                                    target="_blank">
                                    <img class="dj-image"
                                        src="{{'assets/images/banners/ru/osms_ru.jpg'|theme }}"
                                        alt="6"
                                        style="width: 100%; height: auto;">
                                </a>
                            </li>
                            <li
                                style="margin: 0 10px 0px 0 !important; height: 160px; width: 240px;">
                                <a href="https://www.akorda.kz/ru/addresses/addresses_of_president/poslanie-glavy-gosudarstva-kasym-zhomarta-tokaeva-narodu-kazahstana-1-sentyabrya-2020-g"
                                    target="_blank">
                                    <img class="dj-image"
                                        src="{{'assets/images/banners/ru/posl_pr_ru.jpg'|theme }}"
                                        alt="7"
                                        style="width: 100%; height: auto;">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="navigation109" class="navigation-container"
                        style="top: 0%; margin: 0 0%;">
                        <img id="prev109"
                            class="prev-button showOnHover"
                            src="{{'assets/images/prev.png'|theme }}"
                            alt="Previous" tabindex="0">
                        <img id="next109"
                            class="next-button showOnHover"
                            src="{{'assets/images/next.png'|theme }}"
                            alt="Next" tabindex="0">
                    </div>
                </div>
            </div>
        </div>
        <div class="djslider-end" style="clear: both" tabindex="0">
        </div>
    </div>
</div>