<div class="sp-module ">
    <div class="sp-module-content">
        <div class="custom">
        {% for banner in this.theme.banners %}
            {% if banner.url|length > 0 %}
            <p>
                <a href="{{ banner.url }}">
                    <img src="{{ banner.bannerImage|media }}" alt="{{ banner.name }}" width="100%">
                </a>
            </p>
            {% else %}
            <p>
                <img src="{{ banner.bannerImage|media }}" alt="" width="100%">
            </p>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>