<div class="sp-module ">
    <div class="sp-module-content">
        <div style="border: 0px !important;">
            <div id="djslider-loader109"
                class="djslider-loader djslider-loader-default"
                data-animation='{"auto":"1","looponce":"1","transition":"easeInOutExpo","css3transition":"cubic-bezier(1.000, 0.000, 0.000, 1.000)","duration":400,"delay":3400}'
                data-djslider='{"id":"109","slider_type":"0","slide_size":250,"visible_slides":"4","direction":"left","show_buttons":"0","show_arrows":"1","preload":"800","css3":"1"}'
                tabindex="0">
                <div id="djslider109" class="djslider djslider-default"
                    style="height: 160px; width: 990px;">
                    <div id="slider-container109"
                        class="slider-container">
                        <ul id="slider109" class="djslider-in">
                        
{% for usefulSlid in this.theme.usefulSlider %}
                            <li style="margin: 0 10px 0px 0 !important; height: 160px; width: 240px;">
                                <a href="{{ usefulSlid.url }}" target="_blank">
                                    <img class="dj-image" src="{{ usefulSlid.img|media }}" alt="mini slide img" style="width: 100%; height: auto;">
                                </a>
                            </li>
{% endfor %}
                            
                        </ul>
                    </div>
                    <div id="navigation109" class="navigation-container"
                        style="top: 0%; margin: 0 0%;">
                        <img id="prev109"
                            class="prev-button showOnHover"
                            src="{{'assets/images/prev.png'|theme }}"
                            alt="Previous" tabindex="0">
                        <img id="next109"
                            class="next-button showOnHover"
                            src="{{'assets/images/next.png'|theme }}"
                            alt="Next" tabindex="0">
                    </div>
                </div>
            </div>
        </div>
        <div class="djslider-end" style="clear: both" tabindex="0">
        </div>
    </div>
</div>