<div class="navbar-collapse collapse">
    <ul class="{{ class }}">
    {% for item in staticMenu.menuItems %}
        <li class="{{ item.isActive or item.isChildActive ? 'active' : '' }} {{ item.staticMenu.menuItems ? 'dropdown' : '' }}">
            <a {% if item.staticMenu.menuItems %}class="dropdown-toggle" data-toggle="dropdown"{% endif %} href="{{ item.url }}">
                {{ item.title }}
                {% if item.staticMenu.menuItems %}
                    <span class="caret"></span>
                {% endif %}
            </a>
            {% if item.staticMenu.menuItems %}
                {% partial 'menu-items' items=item.staticMenu.menuItems class='dropdown-menu' %}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>