<section id="sp-main-body">
                            <div class="container">
                                <div class="container-inner">
                                    <div class="row">
                                        <main id="sp-component" class="col-lg-12 " role="main">
                                            <div class="sp-column ">
                                                <div id="system-message-container">
                                                </div>
                                                <form method="post" id="userForm"
                                                    action="#">
                                                    <h2>Записаться на прием</h2>

                                                    <!-- Do not remove this ID, it is used to identify the page so that the pagination script can work correctly -->
                                                    <fieldset class="formContainer" id="rsform_1_page_0">
                                                        <div class="form-row">
                                                            <div class="col-12">
                                                                <div
                                                                    class="form-group row rsform-block rsform-block-fullname">
                                                                    <label
                                                                        class="col-sm-3 control-label formControlLabel"
                                                                        data-toggle="tooltip" title=""
                                                                        for="FullName">Фамилия Имя Отчество<strong
                                                                            class="formRequired">(*)</strong></label>
                                                                    <div class="col-sm-9 formControls">
                                                                        <input type="text" value="" size="40"
                                                                            maxlength="100"
                                                                            placeholder="Пожалуйста, введите Ваши полные Фамилию Имя Отчество"
                                                                            name="form[FullName]" id="FullName"
                                                                            class="rsform-input-box form-control">
                                                                        <div><span class="formValidation"><span
                                                                                    id="component1"
                                                                                    class="formNoError">Пожалуйста,
                                                                                    введите Ваши полные
                                                                                    ФИО</span></span></div>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="form-group row rsform-block rsform-block-doctor">
                                                                    <label
                                                                        class="col-sm-3 control-label formControlLabel"
                                                                        data-toggle="tooltip" title="" for="Doctor">К
                                                                        какому специалисту?<strong
                                                                            class="formRequired">(*)</strong></label>
                                                                    <div class="col-sm-9 formControls">
                                                                        <input type="text" value="" size="20"
                                                                            maxlength="100"
                                                                            placeholder="Наименование специалиста, к которому хотите записаться"
                                                                            name="form[Doctor]" id="Doctor"
                                                                            class="rsform-input-box form-control">
                                                                        <div><span class="formValidation"><span
                                                                                    id="component24"
                                                                                    class="formNoError">Пожалуйста,
                                                                                    введите наименование специалиста, к
                                                                                    которому хотите
                                                                                    записаться</span></span></div>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="form-group row rsform-block rsform-block-phone">
                                                                    <label
                                                                        class="col-sm-3 control-label formControlLabel"
                                                                        data-toggle="tooltip" title=""
                                                                        for="Phone">Контактный телефон<strong
                                                                            class="formRequired">(*)</strong></label>
                                                                    <div class="col-sm-9 formControls">
                                                                        <input type="tel" value="" size="11"
                                                                            maxlength="11"
                                                                            placeholder="Введите контактный телефон"
                                                                            name="form[Phone]" id="Phone"
                                                                            class="rsform-input-box form-control">
                                                                        <div><span class="formValidation"><span
                                                                                    id="component25"
                                                                                    class="formNoError">Пожалуйста,
                                                                                    введите номер телефона, чтобы мы
                                                                                    могли с Вами связаться</span></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="form-group row rsform-block rsform-block-email">
                                                                    <label
                                                                        class="col-sm-3 control-label formControlLabel"
                                                                        data-toggle="tooltip" title=""
                                                                        for="Email">Контактный е-mail<strong
                                                                            class="formRequired">(*)</strong></label>
                                                                    <div class="col-sm-9 formControls">
                                                                        <input type="email" value="" size="20"
                                                                            placeholder="Введите контактный e-mail"
                                                                            name="form[Email]" id="Email"
                                                                            class="rsform-input-box form-control">
                                                                        <div><span class="formValidation"><span
                                                                                    id="component3"
                                                                                    class="formNoError">Пожалуйста,
                                                                                    введите e-mail в верном
                                                                                    формате</span></span></div>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="form-group rsform-block rsform-block-message">
                                                                    Уважаемые пациенты!<br>
                                                                    Оставьте заявку и обязательно ваш контактный
                                                                    телефон.
                                                                    С вами обязательно свяжутся в течении рабочего дня.
                                                                    Обращения принимаются только в рабочее время!
                                                                </div>
                                                                <div
                                                                    class="form-group row rsform-block rsform-block-submit">
                                                                    <label
                                                                        class="col-sm-3 control-label formControlLabel"
                                                                        data-toggle="tooltip" title=""
                                                                        for="Submit"></label>
                                                                    <div class="col-sm-9 formControls">
                                                                        <button type="submit" name="form[Submit]"
                                                                            id="Submit"
                                                                            class="rsform-submit-button  btn btn-primary">Записаться</button>
                                                                        <button type="reset"
                                                                            class="rsform-reset-button  btn btn-danger">Отменить</button>
                                                                        <div><span class="formValidation"></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset><input type="hidden" name="form[formId]" value="1">
                                                </form>
                                            </div>
                                        </main>
                                    </div>
                                </div>
                            </div>
                        </section>