description = "Default layout"


==
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Больница, Астана">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="description" content="{{ this.page.meta_description }}">
    <title>SKK CMS - {{ this.page.title }}</title>
    
    <!-- MY CUSTOM JS END -->

        {% styles %}
    </head>
   <body>

        {% page %}

    {# {% snowboard %} #}
    {% framework %}
    {% scripts %}
    <script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js" integrity="sha256-UnTxHm+zKuDPLfufgEMnKGXDl6fEIjtM+n1Q6lL73ok=" crossorigin="anonymous"></script>
    </body> 
</html>