description = "page"

[staticMenu]
code = "nav-menu"

[staticPage]
useContent = 1
default = 0
==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Больница, Астана">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="description" content="{{ this.page.meta_description }}">
    <title>SKK CMS - {{ this.page.title }}</title>
    <link href="my_custom/css/css?family=Raleway:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap&amp;subset=latin" rel="stylesheet" type="text/css">
{#     <link href="{{ 'assets/css/bootstrap.min.css'|theme }}" rel="stylesheet" type="text/css"> #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{{ 'assets/css/font-awesome.min.css'|theme }}" rel="stylesheet" type="text/css">
    <link href="{{ 'assets/css/fa-v4-shims.css'|theme }}" rel="stylesheet" type="text/css">
    <link href="{{ 'assets/css/template.css'|theme }}" rel="stylesheet" type="text/css">
    <link href="{{ 'assets/css/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'|theme }}" rel="stylesheet" type="text/css">
    <link href="{{ 'assets/css/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css'|theme }}" rel="stylesheet" type="text/css">
    <link href="{{ 'assets/css/camera/css/camera.css'|theme }}" rel="stylesheet" type="text/css">
    <link href="{{ 'assets/css/font-awesome/4.7.0/css/font-awesome.min.css'|theme }}" rel="stylesheet" type="text/css">
    <!-- MY CUSTOM CSS START -->
    <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet" type="text/css">
    <link href="{{ 'assets/css/animate.min.css'|theme }}" rel="stylesheet" type="text/css">
    <link href="{{ 'assets/css/animate.ext.css'|theme }}" rel="stylesheet" type="text/css">
    <!-- MY CUSTOM CSS END -->
    <script src="{{ 'assets/js/jquery.min.js'|theme }}" type="text/javascript"></script>
    <script src="{{ 'assets/js/bootstrap/popper.min.js'|theme }}" type="text/javascript"></script>
    <script src="{{ 'assets/js/bootstrap/bootstrap.min.js'|theme }}" type="text/javascript"></script>
    <script src="{{ 'assets/js/bootstrap/main.js'|theme }}" type="text/javascript"></script>
    <script src="{{ 'assets/js/slider.js'|theme }}" type="text/javascript"></script>
    <script src="{{ 'assets/js/owl.carousel.min.js'|theme }}" type="text/javascript"></script>
    <!-- MY CUSTOM JS START -->
    <script src="{{ 'assets/js/script.js'|theme }}" type="text/javascript"></script>
    
    <!-- MY CUSTOM JS END -->

        {% styles %}
</head>
<body class="site helix-ultimate com-content view-category layout-blog task-none itemid-102 ru-ru ltr sticky-header layout-boxed offcanvas-init offcanvs-position-right">


<div class="dj-offcanvas-wrapper">
        <div class="dj-offcanvas-pusher">
            <div class="dj-offcanvas-pusher-in">
                <div class="sp-preloader">
                    <div></div>
                </div>
                <div class="body-wrapper">
                    <div class="body-innerwrapper">
{# header #}            {% partial 'site/header' %}


                            {% page %}

                        
{# footer #}            {% partial 'site/footer' %}


                    </div>
                </div>
                <!-- Off Canvas Menu -->
{# convas #}    {% partial 'site/convas' %}
                <!-- Go to top -->
                <a href="#" class="sp-scroll-up" aria-label="Scroll Up"><span class="fa fa-chevron-up"
                        aria-hidden="true"></span></a>
            </div>
        </div>
    </div>


        {% snowboard all %}
{#         {% scripts %} #}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body> 
</html>