title = "Администрация"
url = "/administratrion"
layout = "page"
description = "Тут описание вашей страницы для Администраций"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "administrations"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "created_at asc"
categoryPage = 404
postPage = 404
==
<div class="administratrion">
  <div class="administratrionName">
    <figure class="text-center">
      <blockquote class="blockquote">
        <h1>{{ this.page.title }}</h1>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Source Title">{{ this.page.description }}</cite>
      </figcaption>
    </figure>
  </div>
  <div class="branchesList d-flex justify-content-evenly flex-wrap">
{% for post in posts %}
    <div class="card branchesBlog" style="width:300px">
      {% for image in post.featured_images|slice(0.5) %}
    <img class="card-img-top" src="{{ image.path }}" alt="{{ post.title }}" style="width:100%">
      {% endfor %}  
    <div class="card-body">
      <h4 class="card-title">{{ post.title }}</h4>
      <p class="card-text">{{ post.content_html|raw }}</p>
    </div>
  </div>
{% endfor %}  
  </div>
</div>