title = "news"
url = "/news"
layout = "page"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "all-news"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "news"
postPage = "new"

[staticPage]
useContent = 1
default = 0

[localePicker]
forceUrl = 0
==
{% set posts = blogPosts.posts%}
<section id="sp-main-body">
    <div class="container">
        <div class="container-inner d-flex justify-content-around flex-wrap">
{% for post in posts %}
<div class="card align-self-center mb-2" style="width: 22rem;">
{% for image in post.featured_images|slice(0.5) %}
  <img src="{{ image.path }}" class="card-img-top" alt="{{ post.title }}">
{% endfor %}
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.excerpt }}</p>
    <a href="{{ post.url }}" class="btn btn-primary">Подробнее</a>
    <span class="published" title="Опубликовано: {{ post.published_at|date('d-m-Y') }}">
        <time datetime="{{ post.published_at|date('d-m-Y') }}">{{ post.published_at|date('d-m-Y') }} </time>
    </span>
  </div>
</div>
{% endfor %}
        </div>
    </div>
</section>